section{
    background-color: rgb(153, 153, 153);
}
.title{
    // color: white;
    text-align: center;   
    // border: 1px solid yellow;
}
.horizontally{
    display: flex;
    flex-wrap: wrap;
}
.tam{
    display: flex;
}