<section class="footer" #footer>
  
  <mat-toolbar #toolbar>
    <hr>
    <div class="start">
        <button
      mat-icon-button
      color="accent"
      aria-label="Example icon button with a menu icon"
    >
    <p class="text"><mat-icon>copyright</mat-icon> 2021 Company, Inc</p>
      
    </button>
    </div>
    <span class="spacer"></span>
    <div class="end">
        <button
      mat-icon-button
      color="accent"
      aria-label="Example icon button with a menu icon"
    >
      <mat-icon>location_city</mat-icon>
    </button>
    <button
      mat-icon-button
      color="accent"
      aria-label="Example icon button with a menu icon"
    >
      <mat-icon>opacity</mat-icon>
    </button>
    <button
      mat-icon-button
      color="accent"
      aria-label="Example icon button with a menu icon"
    >
      <mat-icon>directions_bus</mat-icon>
    </button>
    </div>
  </mat-toolbar>
</section>
